<div class="_header" ng-show="_title">{{_title}}<div class="_close" ng-click="$close()"></div></div>
<div class="_body">

    <table class="_center-info">
        <tbody>
            <tr><td class="_label">Account:</td><td class="_value">EUR-U460-A550</td></tr>
            <tr><td class="_label">Currency:</td><td class="_value">EUR</td></tr>
            <tr><td class="_label">Balance:</td><td class="_value">&euro; 9,999,403.98 </td></tr>
            <tr><td class="_label">Hold Amount:</td><td class="_value">&euro; 619.99</td></tr>
        </tbody>
    </table>

    <p class="_wire">Send to us wire transfer with the following comment to our bank requisites below. <a href="#">Learn more about wire transfer in FAQ</a></p>

    <div class="_note">

        <div class="_title">Important note</div>
        <div class="_cnt">
            <p class="_comment-title">Comment to your payment must be:</p>
            <p class="_comment">Payment under the contract EUR-U460-A550</p>

            <p class="_info">Otherwise we will have to charge you a large fee, approximately 20% (no more than &euro;1000)</p>
        </div>
    </div>

    <h3>Our bank requisites:</h3>
    <table class="_center-info _bank">
        <tbody>
            <tr><td class="_label">Bank Name:</td><td class="_value">JSC «NORVIK BANKA», Riga, Latvia</td></tr>
            <tr><td class="_label">Bank SWIFT:</td><td class="_value">LATBLV22</td></tr>
            <tr><td class="_label">Account:</td><td class="_value">LVXXXXXXXXXXXXXXXXXXXXXXXXXXX</td></tr>
            <tr><td class="_label">Company (Beneficiary):</td><td class="_value">Company LTD.</td></tr>
        </tbody>
    </table>

    <h3>Correspondent Bank </h3>
    <table class="_center-info _bank">
        <tbody>
            <tr><td class="_label">Correspondent Bank Name:</td><td class="_value">Commerzbank AG, Frankfurt/Main, Germany</td></tr>
            <tr><td class="_label">Correspondent Bank SWIFT:</td><td class="_value">COBADEFF</td></tr>
            <tr><td class="_label">Correspondent Account:</td><td class="_value">XXXXXXXXXXXX</td></tr>
        </tbody>
    </table>
</div>
<div class="_footer">Check the <a href="#">full list of correspondent banks</a></div>