<div class="_header" ng-show="_title">{{_title}}<div class="_close" ng-click="$close()"></div></div>
<div class="_body">
    <div class="_form component-form">
        <p class="_info">
            Please keep this secret key in a safe place.
        </p>
        <br/>
        <div class="_field _full">
            <label>
                <span class="_label">Secret key</span>
                <span>{{ secret }}</span>
            </label>
        </div>
    </div>

    <div class="_actions">
        <div class="_button" ng-click="$close()">Ok</div>
    </div>
</div>