<div class="_body">
    <p>Due to something like a spam activity bla-bla protect your account with something you know and something you have.</p>

    <img src="/assets/tmp/captcha.png" alt="" width="426" height="59"/>

    <div class="_form component-form">
        <div class="_field"><label><span class="_label">Type the text</span><input type="text"></label></div>
    </div>

    <div class="_actions">
        <div class="_button">Generate</div>
        <div class="_cancel">Cancel</div>
    </div>
</div>