<style>
    .underlined {
        text-decoration: underline;
    }
</style>

<div class="block-inner-content _left-col">
    <div class="_col">
        <div class="block-inner-mytrades-left">
            <ul class="component-left-column-menu">
                <li ng-class="{_active:active=='general'}">
                    <a ng-click="slideTo('general')" href="#">ATLANT Platform</a>
                </li>
                <li ng-class="{_active:active=='exchange'}">
                    <a href="#" ng-click="slideTo('exchange')">ADEX</a>
                </li>
                <li ng-class="{_active:active=='security'}">
                    <a href="#" ng-click="slideTo('security')">Security</a>
                </li>
                <li ng-class="{_active:active=='legal'}">
                    <a href="#" ng-click="slideTo('legal')">Legal</a>
                </li>
                <li ng-class="{_active:active=='help'}">
                    <a href="#" ng-click="slideTo('help')">Help</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="_content">
        <div class="block-inner-faq">
            <div class="_block" id="general-block">
                <div class="component-table_header _block-header"><span class="_txt">ATLANT Platform</span></div>

                <div class="_tabs">

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What is ATLANT?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ATLANT is a global real estate blockchain platform.</p>
                                <p>ATLANT is addressing two of the most pertinent problems in real estate with its decentralized solution: Tokenized Ownership and P2P Rentals.</p>
                                <p>The platform is being developed as an open source framework which will provide both P2P rental network features (example: Airbnb) and tokenized ownership features, which will operate and trade on the Ethereum network, independent of the platform's contributors.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What are ATL tokens?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ATL tokens are essentially membership certificates in the ATLANT Platform, which give rights and privileges to their owners, as outlined in the <a href="https://atlant.io/assets/documents/en/Atlant_WP_publish.pdf" target="_blank">ATLANT White Paper</a>.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What are ATP tokens?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ATP is a pre-sale token, which will be automatically converted to ATL tokens after the ICO.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What is ICO's soft and hard cap?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ICO Soft cap is USD $1.5 million. Hard cap is 225,403 ETH.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What happens to tokens which are not sold during the ICO?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>Any unsold tokens will be burned.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Can I use exchanges for purchasing ATL tokens?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>IMPORTANT: Please don't use exchanges. Use personal wallets like MyEtherWallet, Jaxx, and Mist. If you're sending ETH from exchanges ATLANT won’t be able to recognise you and send you tokens.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>How can I check my ATP tokens balance?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>You can easily check your ATP purchase using MyEtherWallet:</p>
                                <p>1. Click “Add Custom Token”.</p>
                                <p>2. Add this address to the “Contract Address” field: <b>0x6D85320c086aeE2eCD2693855fb2164c494fd251</b></p>
                                <p>3. Type “ATP” in the “Token Symbol” field and the number “18” in “Decimals”. Click ‘Save’.</p>
                                <p>Link: <a href="https://www.myetherwallet.com/#view-wallet-info" target="_blank">https://www.myetherwallet.com/#view-wallet-info</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Which exchanges will list the ATL token?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>SpaceBTC and BTC-UP will be the first exchanges to list the ATL tokens once the ICO is over. Liqui and HitBTC are likely to follow. ATLANT is also in active discussions with the other primary exchanges.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>When ATL tokens will be tradable?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>You will be able to trade ATL after the ICO.</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="_block" id="exchange-block">
                <div class="component-table_header _block-header"><span class="_txt">ADEX</span></div>

                <div class="_tabs">

                  <div class="_tab">
                      <div class="_head" btc-faq-toggle>What is ADEX?
                          <div class="_ico"></div>
                      </div>
                      <div class="_txt component-html">
                          <div class="_wrap">
                              <p>ADEX stands for the ATLANT Decentralized Exchange. We have developed ADEX to allow for a safe and secure token trading. ADEX supports Bitcoin, Ether and many ERC20 tokens.</p>
                          </div>
                      </div>
                  </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>What are the advantages of ADEX?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ADEX connects token buyers and sellers by creating an organized market. It is powered by Ethereum smart contracts under the hood, allowing for a safe and secure way to transact between parties.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>How to start?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>Please click "SIGN UP" and proceed with your Email to set up an account in one minute. After verifying, you can fund your account with any token and start trading right away.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Where can I find trading and transaction fees?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>Please refer to <a ui-sref="root.inner.right-col-logo.fees" target="_blank">the Fees</a> page. It contains both trading fees (fee per trade) and transaction fees (fee per token deposit or withdrawal).</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>How to quickly swap tokens?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>If you intend to change tokens quickly, you are welcome to use <a ui-sref="root.inner.change" target="_blank">the Token Swap form</a>.</p>
                                <p>This form allows you to exchange tokens at the market price without any special knowledge. For instance, you can change BTC for ATL in a single click after specifying amount of bitcoins to sell and vice versa.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="_block" id="security-block">
                <div class="component-table_header _block-header"><span class="_txt">Security</span></div>

                <div class="_tabs">
                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Is it secure to trade at ADEX?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>ADEX follows best security practices and takes all necessary precautions in its operations. Smart contract code is audited and well-tested.</p>
                                <p>We facilitate user account security by providing 2-factor authentication (2FA) via SMS and Telegram. 2FA is an additional layer of security above password and an effective way to protect your account. We recommend turning on 2FA option to increase your account security.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>How to turn on 2FA?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>You can turn on 2-factor authentication by clicking "ACTIVATE" at 2FA section on the <a ui-sref="root.inner.right-col.settings" target="_blank">Settings page</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="_block" id="legal-block">
                <div class="component-table_header _block-header"><span class="_txt">Legal</span></div>

                <div class="_tabs">
                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Do you have a legal structure?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>Yes, we do have a legal structure. The company behind ATLANT is TENSIGMA company, incorporated as LTD. in the jurisdiction of British Virgin Islands.</p>
                            </div>
                        </div>
                    </div>

                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>Where is the ATLANT team located?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>We have HQ in New York and dev office in Moscow.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="_block" id="help-block">
                <div class="component-table_header _block-header"><span class="_txt">Help</span></div>

                <div class="_tabs">
                    <div class="_tab">
                        <div class="_head" btc-faq-toggle>How to get support from the ATLANT team?
                            <div class="_ico"></div>
                        </div>
                        <div class="_txt component-html">
                            <div class="_wrap">
                                <p>The fastest way to get support is to contact us directly on Telegram or Slack.</p>
                                <p>Alternatively you can reach us via <a href="mailto:help@atlant.io">help@atlant.io</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
