<div class="block-inner-content _right-col-logo">
    <div class="_col">
        <img src="/assets/common/logo_v.png" height="80" title="ATLANT" alt="ATLANT" />
        <b>ATLANT DEX</b>
        <br/><br/>
        Decentralized
        <br>
        Exchange
        <br/><br/>
        Powered by the
        <br/>
        ATLANT Platform
        <br/><br/>
        <b>Support</b>
        <br/>
        <a href="mailto:help@atlant.io">help@atlant.io</a>
        <br/><br/>
        <b>Contact Us</b>
        <br/>
        <a href="mailto:contact@atlant.io">contact@atlant.io</a>
        <br/>
        <div class="__socials">
            <a class="__item -twitter" target="_blank" href="https://twitter.com/atlantio"></a>
            <a class="__item -linked-in" target="_blank" href="https://www.linkedin.com/company/atlant.io"></a>
            <a class="__item -google-plus" target="_blank" href="https://plus.google.com/u/0/113261799912933728481"></a>
            <a class="__item -facebook" target="_blank" href="https://www.facebook.com/atlantplatform"></a>
        </div>
    </div>
    <div class="_content"><ui-view></ui-view></div>
</div>
