<div class="block-lite-main-frame">

</div>

<div class="block-lite-bottom-bar">
    <div class="_wrap">
        <div class="_switch"><span class="_ico"></span> <span class="_i">Switch to</span> <span class="_pro">Pro version</span></div>
        <div class="_video"><span class="_ico"></span> <span class="_link">Play video</span></div>
        <div class="_stats">
            <span class="_title">BTC/EUR options:</span>
            <span class="_stat">Ask <span btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">Last <span class="_green" btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">High <span class="_green" btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">Low <span btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">Bid <span btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">Ask <span class="_red" btc-muted value="378.9000 | toFixed:4"></span></span>
            <span class="_stat">Last <span btc-muted value="378.9000 | toFixed:4"></span></span>
        </div>
    </div>
</div>