<div class="block-inner-wrapper">
    <div class="block-inner-header" style="text-align: center">
        <div class="_name">Maintenance work in progress</div>
    </div>

    <div class="block-inner-affiliate">
        <div class="_row _row--1">
            <div class="_header" style="height: 80px;">
                <p>ATLANT trading platform is currently under maintenance. We work hard to make your experience with us even better.</p>
                <p>We will get back to you shortly. Please check our social media for information.</p>
                <br />
                <p>Thank you for understanding. Stay with us!</p>
            </div>
            <br /><br />
            <a ui-sref="root.desktop.main"><div class="logo"></div></a>
        </div>
    </div>

    <div class="block-inner-footer">
        <div class="_social">
            <a target="_blank" href="https://www.facebook.com/atlantplatform"><span class="_btn _fb"></span></a>
            <a target="_blank" href="https://twitter.com/atlantio"><span class="_btn _tw"></span></a>
            <a target="_blank" href="https://www.linkedin.com/company/atlant.io"><span class="_btn _in"></span></a>
            <a target="_blank" href="https://plus.google.com/u/0/113261799912933728481"><span class="_btn _plus"></span></a>
        </div>
        <div class="_copy">&copy; 2017 ATLANT DEX</div>
        <div class="_address">Powered by the ATLANT Platform<br /><a href="mailto:contact@atlant.io">contact@atlant.io</a></div>
    </div>
</div>
