<div class="block-inner-affiliate">
    <div class="_row _row--1">
        <div class="_header">Your affiliate link</div>
        <div class="_link-url" ng-bind="referralLink"></div>
        <div class="_copy-button" data-clipboard-text="{{referralLink}}" id="copy-button"></div>
    </div>
    <div class="_row _row--2">
        <div class="_step _step--1">
            <div class="_arrow"></div>
            <div class="_icon"></div>
            <div class="_header">USE THIS LINK</div>
            <div class="_subheader">to invite people to join us</div>
        </div><!--
        --><div class="_step _step--2">
        <div class="_arrow"></div>
        <div class="_icon"></div>
        <div class="_header">EARN 40%</div>
        <div class="_subheader">of referral trading fees</div>
    </div><!--
        --><div class="_step _step--3">
        <div class="_icon"></div>
        <div class="_header">TRACK</div>
        <div class="_subheader">your earnings on the fly</div>
    </div>
    </div>
    <div class="_row _row--3">
        <div class="_header">PAYMENT CONDITIONS</div>
        <div class="_steps">
            <div class="_step _step--1"><div class="_digit"></div>YOU<br />have submitted personal data<br />and passed basic verification</div>
            <div class="_step _step--2"><div class="_digit"></div>YOUR REFERRAL<br />has submitted personal data<br />and passed basic verification</div>
        </div>
    </div>
    <div class="_row _row--4">
        <div class="_header">MY PROGRESS TRACKING</div>
        <div class="_affiliate-conditions"></div>
        <div class="_charts">
            <div class="_column"><div class="_chart" id="chart-1"></div><div class="_comment"><div>Number of referrals</div></div></div>
            <div class="_column"><div class="_chart" id="chart-2"></div><div class="_comment"><div>Referral trading volume</div></div></div>
            <div class="_column"><div class="_chart" id="chart-3"></div><div class="_comment"><div>My earnings</div></div></div>
        </div>
    </div>
    <div class="_row _row--5">
    </div>
</div>