<div class="block-inner-contacts">
    <div class="_contacts component-html">
        <p>ATLANT. Company #9882770<br><i>Registered in England &amp; Wales</i></p>

        <p><b>+44 20 8123 5557</b><br><a href="mailto:contact@atlant.io">contact@atlant.io</a></p>

        <p>We are receiving a lot of emails please put your general topic in subject to simplify and accelerate processing of your message.</p>
    </div>

    <!-- <h2>Or write us from this form</h2>
    <div class="_form component-form">



        <div class="_field _title"><label><span class="_label">Title</span><input type="text"/></label></div>
        <div class="_field _department"><label><span class="_label">Department</span><btc-departments-radio model="myModel"></btc-departments-radio></label></div>
        <div class="_field _message"><label><span class="_label">Message</span><textarea></textarea></label></div>
        <div class="_field _contact"><label><span class="_label">Your Contacts for Feedback</span><textarea></textarea></label></div>

    </div> -->
</div>