<div class="block-inner-mytrades-left">
    <ul class="component-left-column-menu">
        <li ng-class="{_active:active=='general'}"><a ng-click="slideTo('general')" href="#">General</a></li>
        <li ng-class="{_active:active=='legal'}"><a href="#" ng-click="slideTo('legal')">Legal</a></li>
        <li ng-class="{_active:active=='economy'}"><a href="#" ng-click="slideTo('economy')">Economy</a></li>
        <li ng-class="{_active:active=='transactions'}"><a href="#" ng-click="slideTo('transactions')">Transactions</a></li>
        <li ng-class="{_active:active=='mining'}"><a href="#" ng-click="slideTo('mining')">Mining</a></li>
        <li ng-class="{_active:active=='security'}"><a href="#" ng-click="slideTo('security')">Security</a></li>
        <li ng-class="{_active:active=='help'}"><a href="#" ng-click="slideTo('help')">Help</a></li>
    </ul>
</div>