<div class="block-inner-mytrades-left">

    <div class="left-column-button _place-order" ui-sref="root.desktop.main">Place orders</div>

    <ul class="component-left-column-menu">
        <li ui-sref-active="_active"><a ui-sref="root.inner.left-col.mytrades({filter: null})">All orders</a></li>
        <li ui-sref-active="_active"><a ui-sref="root.inner.left-col.mytrades({filter: '0'})">Accepted</a></li>
        <li ui-sref-active="_active"><a ui-sref="root.inner.left-col.mytrades({filter: '1'})">Partially filled</a></li>
        <li ui-sref-active="_active"><a ui-sref="root.inner.left-col.mytrades({filter: '2'})">Filled</a></li>
        <li ui-sref-active="_active"><a ui-sref="root.inner.left-col.mytrades({filter: '3'})">Cancelled</a></li>
    </ul>

    <!-- <div class="component-date-range">
        <div class="_date-title">Date range:</div>
        <div class="_date">12/10/2014 <span class="_to">to</span> 15/10/2014</div>
    </div> -->
</div>