<div class="block-inner-welcome">
    <div class="component-table_header _block-header _center">
        <span class="_txt _centered">Set your new password</span>
    </div>

    <div btc-local-notification="alertToShow" class="_error welcome-alert"></div>
    <div btc-local-notification="successMessage" class="_success welcome-alert"></div>

    <div ng-hide="successMessage">
        <br />
        <form class="component-form">
            <div class="pwd-set">
                <div class="_field _text">
                    <label>
                        <span class="_label">Enter your password</span>
                        <input ng-keydown="submitAction($event)" type="password" ng-model="password" placeholder="Your password" />
                    </label>
                </div>
                <div class="_field _text">
                    <label>
                        <span class="_label">And once again</span>
                        <input ng-keydown="submitAction($event)" type="password" ng-model="confirmPassword" placeholder="Repeat password" />
                    </label>
                </div>
                <div class="_field">
                    <div class="button pwd-set-btn" ng-click="restorePassword()">{{submitLabel}}</div>
                </div>
            </div>
        </form>
    </div>
</div>