<div class="block-inner-support">
    <div class="_item _waiting-user">
        <div class="_heading">
            <div class="_status">{{ticket.status}}</div>
            <div class="_subject">{{ticket.title}}</div>
        </div>
        <div class="_date-block">
            <div class="_id-block">
                <div class="_id">id {{ticket.id}}</div>
                <div class="_stat">{{ticket.department}}</div>
            </div>
            <div class="_date">
                <div class="_opened">Date Opened <span class="_mark">{{ticket.createdAt | unixToDateTime}}</span></div>
                <!-- <div class="_waiting">Waiting time <span class="_mark">3 minutes</span></div> -->
            </div>
        </div>
        <div class="_chat">
            <div class="_message" ng-class="{_support: isModer(m), _you: !isModer(m)}" ng-repeat="m in messages">
                <div class="_name" ng-show="!isModer(m)">You:</div>
                <div class="_name" ng-show="isModer(m)">Support:</div>
                <div class="_txt">{{m.text}}</div>
                <div class="_screenshots" ng-show="m.files">
                    <div class="_screenshot" ng-repeat="f in m.files">
                        <a href="{{f.url}}" target="_blank"><img ng-src="{{f.url}}" alt="" width="200"/></a>{{f.uid}}
                    </div>
                </div>
            </div>
        </div>

        <div class="_form">
            <div class="_message">
                <div class="_label">You:</div>
                <div class="_textarea"><textarea ng-model="text"></textarea></div>
            </div>

            <div class="_attach">
                <div btc-attach files="files" title="Attach photo or screenshot to ticket"></div>
            </div>
        </div>

        <div class="_action">
            <div class="button" ng-click="submit()">Insert Comment</div>
        </div>
    </div>
</div>